.credits-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 20000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.credits-scroll {
  position: absolute;
  top: 100%;
  text-align: center;
  animation: scroll 40s linear forwards;
}

@keyframes scroll {
  from { top: 100%; }
  to { top: -100%; }
}

.credit-item {
  margin-bottom: 40px;
}

.credit-item h1 {
    font-size: 3rem;
    color: #FFD700;
}

.credit-item h2 {
  font-size: 1.5rem;
  color: #aaa;
  margin: 0;
}

.credit-item p {
  font-size: 2rem;
  color: #fff;
  margin: 5px 0 0 0;
}
